<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security - Main Page</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
</head>
<body>
<div class="container">
    <div class="content">
        <h2>Spring Boot Spring Security HDIV Example</h2>
        <p>
            Click <a th:href="@{/links}">here</a> to see URL example
        </p>
        <p>
            Click <a th:href="@{/movie}">here</a> for movie form bean example
        </p>
    </div>
</div>
</body>
</html>